<mat-grid-list cols="1" rowHeight="2:0.3" >
  <mat-grid-tile class="bgColor">
    <div mat-line>
    <label>Basic scss and assign event to the button</label><br>
    <button mat-raised-button (click)="AlertNow($event, 12345)">Test Btn</button>
  </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div mat-line>
      <label>Example of Two-way binding</label><br>
      <mat-slider min="-5" max="5" step="1" [(ngModel)]="slideValue"></mat-slider><br>
      <button mat-raised-button (click)="ResetSlideValue()">Reset</button>
    </div>
    <label>{{ slideValue }}</label>
  </mat-grid-tile>
  <mat-grid-tile class="bgColor">
      <div mat-line>
        <p>Example of ngIf and else condition</p>
        <p *ngIf="ngCondition; else NgElse" style="color: green;">
          Now is true
        </p>
        <ng-template #NgElse>
          <p style="color: red;">
            Now is false
          </p>
        </ng-template>
        <button mat-raised-button (click)="NgConditionSwitching()">Switch</button>
      </div>
  </mat-grid-tile>
  <mat-grid-tile [ngStyle]="{'background-color': ngStyleString}">
     <div>
        <p>Example of ngStyle</p>
      <button mat-raised-button (click)="ChangeNgStyleString()">change style</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [ngClass]="{'RedColorBg': ngStyleCondition, 'BlueColorBg': !ngStyleCondition}">
    <div>
        <p>Example of ngClass</p>
     <button mat-raised-button (click)="ChangeNgStyle()">change class</button>
   </div>
 </mat-grid-tile>
 <mat-grid-tile>
   <div>
     <button mat-raised-button (click)="AddDetail()">Add Detail</button>
     <button mat-raised-button (click)="ClearDetail()">Clear Detail</button>
     <p *ngFor="let dateStr of ngForArray; let i = index"
        [ngStyle]="{'background-color': i+1 >= 3 ? 'blue':'transparent'}"
        [ngClass]="{'WhiteColor': i+1 >= 3}">
       {{i+1}} {{dateStr}}
     </p>
   </div>
 </mat-grid-tile>
</mat-grid-list>