<div fxLayout="row wrap" fxLayoutAlign="flex-start" class="NavMenuColor">
  <div>
    <a routerLink="/" routerLinkActive="NavMenuActive" [routerLinkActiveOptions]="{exact: true}">
      <button mat-button >Home</button>
    </a>
  </div>
  <div>
    <a routerLink="basic-testing" routerLinkActive="NavMenuActive">
      <button mat-button>Basic Testing</button>
    </a>
  </div>
  <div>
    <a [routerLink]="['database-testing']" routerLinkActive="NavMenuActive">
      <button mat-button>Database Testing</button>
    </a>
  </div>
  <div>
    <a [routerLink]="['param-testing']" routerLinkActive="NavMenuActive">
      <button mat-button>Param Testing</button>
    </a>
  </div>
  <div>
    <a [routerLink]="['component-deepdive']" routerLinkActive="NavMenuActive">
      <button mat-button>Component Deepdrive</button>
    </a>
  </div>
  <div>
    <a [routerLink]="['directive-testing']" routerLinkActive="NavMenuActive">
      <button mat-button>Directive Testing</button>
    </a>
  </div>
</div>
<router-outlet></router-outlet>