<mat-card fxFlexFill>
    <h3>AddItem Component</h3>
    <mat-form-field>
        <input matInput placeholder="Product Name" [(ngModel)]="productName">
    </mat-form-field><br/>
    <mat-form-field>
        <textarea  matInput placeholder="Product Discription" [(ngModel)]="productDetail"></textarea>
    </mat-form-field><br/>
    <mat-form-field>
        <input matInput placeholder="Comment" #commentMessage> 
    </mat-form-field><span>* this value will be shown in the debug module.</span><br/>
    <button mat-raised-button (click)="AddProduct(commentMessage)">Add Product</button>
</mat-card>